{% load mathfilters %}
<h1>Weekly Active Subscribers Report {{ object.date }}</h1>
<p>Active Subscribers Count: {{ object.active_subscribers_count  }}</p>
<p>Net Change In Active Subscribers: {{ object.net_active_change }}</p>
<p><a href="{% url 'signups-report' %}?{{ object.signups_report }}">New Signups</a>: {{ object.new_emails_count }}</p>
<p> Subscribers from active to inactive: {{ object.active_to_inactive_count }}</p>
<p> Subscribers from inactive to active: {{ object.inactive_to_active_count }}</p>
<hr>
<h2>Values for Debugging not in final report</h2>
<p>Subscribers Count: {{ object.subscribers_count  }}</p>
<p>Previous Week: {{ object.previous_week.date  }}</p>
<p>Net Change In Subscribers: {{ object.change_in_subscribers }}</p>
<p>New Active Subscribers: {{ object.new_active }}</p>
<p>New Inactive Subscribers: {{ object.inactive_new_subscribers_count }}</p>
<h3>Calculated Values</h3>
<h4>Net Change In Active Subscribers: {{ object.net_active_change }}</h4>
<p>New Active + I2A - A2I = {{ object.new_active|add:object.inactive_to_active_count|sub:object.active_to_inactive_count }}</p>
<p>New Signups - New Inactive + I2A - A2I = {{ object.new_emails_count|sub:object.inactive_new_subscribers_count|add:object.inactive_to_active_count|sub:object.active_to_inactive_count}}</p>
